@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-image: url(./img/background.jpg);
    background-size: cover;
}

.content {
   margin-left: 150px;
   margin-top: 17%;
   display: inline-block;
   border-radius: 10px;
   background-color: rgba(71, 71, 71, 0.5);
   opacity: 0.7;
}

input, button {
    margin-left: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

h1 {
    color: aliceblue;
    padding: 10px;
}

#refresh {
    margin-top: 20px;
    margin-left: 100px;
}



button {
    cursor: pointer;
    border-radius: 8px;
    background-color: #6b3333;
    color: rgb(238, 238, 238);
}

.container {
    margin-left: 150px;
    margin-top: 17%;
    display: inline-block;
    border-radius: 10px;
    background-color: rgba(71, 71, 71, 0.5);
    opacity: 0.7;
}

.inicio {
    margin-left: 170px;
}